.awesome-highlighter-button{
  position: absolute;
  height: 16px;
  width: 16px;
  left: -8px;
  top: -8px;
  border: 1px solid;
  border-radius: 9px;
  opacity: 0.3;
  background-color: lightgray;
  padding: 0px;
  box-sizing: unset;

  transition: opacity 0.33s linear;
}
.awesome-highlighter-button:before, .awesome-highlighter-button:after {
  position: absolute;
  left: 7px;
  top: 4px;
  content: " ";
  height: 8px;
  width: 2px;
  background-color: #333;
}
.awesome-highlighter-button:hover::before, .awesome-highlighter-button:hover::after {
  background-color: white;
}
.awesome-highlighter-button:before {
  transform: rotate(45deg);
}
.awesome-highlighter-button:after{
  transform: rotate(-45deg);
}
.awesome-highlighter-button:hover{
  opacity: 1;
  background-color: #b94a48;
  border: 1px solid;
  cursor: pointer;
}

.awesome-highlighter-red {
  background-color: #b8453d;
  box-shadow: 0px 0px 13px 0px rgba(171,65,32,1);
}

.awesome-highlighter-yellow {
  background-color: #e8d615;
  box-shadow: 0px 0px 13px 0px rgba(199,188,64,1);
}

.awesome-highlighter-blue {
  background-color: #3f3bb8;
  box-shadow: 0px 0px 13px 0px rgba(32,55,171,1);
}

